.background-myweb {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-clip: padding-box;
}

.profile {
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);                
    -webkit-backdrop-filter: blur(10px);    
    color: white;    
    width: 20vw;
    margin-left: 10vw;
    margin-top: 5vh;
    height: 85vh;
    border-radius: 2%;
    position: fixed;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.main-content { 
    margin-left: 37vw;
    margin-top: 10vh;
}